<div class="container">
    <section>
        <article class="text-center">
            <h2>Chat con sockets!</h2>
            <hr>
        </article>
    </section>

    <section>
        <article class="chat-mensajes list-group">
            <li class="list-group-item">Leonardo: Mensaje!!</li>
        </article>
        <form (ngSubmit)="enviar()">
            <input type="text" class="form-control mt-3" placeholder="Mensaje..." autofocus autocomplete="off">
        </form>
    </section>
</div>